<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Barbearia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">

        <h1>Agendamento de Barbearia</h1>

        {% if erro %}
            <p style="color: red;"><strong>{{ erro }}</strong></p>
        {% endif %}

        <form method="POST">
            <label>Nome:</label><br>
            <input type="text" name="nome"><br><br>

            <label>Serviço:</label><br>
            <select name="servico">
                <option value="Corte">Corte</option>
                <option value="Barba">Barba</option>
                <option value="Corte + Barba">Corte + Barba</option>
                <option value="Sobrancelha">Sobrancelha</option>
            </select><br><br>

            <label>Data e Hora:</label><br>
            <input type="datetime-local" name="data"><br><br>

            <button type="submit">Agendar</button>
        </form>

        <h2>Agendamentos</h2>

        <div class="agenda">
            {% for agendamento in agendamentos %}
                <div class="card">
                    <p><strong>Cliente:</strong> {{ agendamento.nome }}</p>
                    <p><strong>Serviço:</strong> {{ agendamento.servico }}</p>
                    <p><strong>Horário:</strong> {{ agendamento.data }}</p>
                </div>
            {% endfor %}
        </div>

    </div>

</body>
</html>